<div class="container my-3">
  <h1>Flats (<%= @flats.count %>)</h1>
</div>

<div class="container my-3">
  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card" style="width: 18rem;">
        <%= image_tag flat.picture_url, alt: "alttext", class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
          <p class="card-text"><%= flat.description %></p>
          <a href="#" class="card-link"><%= flat.number_of_guests %> Guests</a>
          <a href="#" class="card-link">£<%= flat.price_per_night %></a>
          <%= link_to "More info", flat_path(flat) %>
          <%= link_to "Edit", edit_flat_path(flat) %>
          <%= link_to "Remove", flat_path(flat), method: :delete, data: { confirm: "Are you sure?"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
